html {
    background-color: azure;
    background-image: url("images/1-big-viburnum.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.content {
    background-color: rgb(240, 255, 255, 50%);
    padding: 30px;
    border: 5px;
    max-width: 915px;
    margin: 0 auto;
}

.main{
    background-color: antiquewhite;
    padding: 30px;
}